# sandbox using throwaway credentials
SandboxVersion/

# login credentials
loginReddit.py
loginTwitter.py
loginImgur.py

# logs directory used during testing; don't want to overwrite the real one
logs/

# garbage
__pycache__/