# sandbox using throwaway credentials
SandboxVersion/

# login credentials
loginReddit.py
loginTwitter.py
loginImgur.py
loginStreamable.py

# logs directory used during testing;
logs/

# logging path is different in production, so ignore that
paths.py

# garbage
__pycache__/
mainTESTING.py
.DS_Store
